@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Layout.cshtml";
}
@model Wriststone.Models.ViewModel.CategoryThreadsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

<div class="search">
    <form method="get" action="/Forum/Search">
        <input type="text" placeholder="Search" name="search">
        <button type="submit">Go</button>
    </form>
</div>
<div class="panel">
    @if (User.Identity.Name != null)
    {
        <button type="button" onclick="window.location='/Forum/Create/@Model.Category.Id'">Create new Thread</button>
    }
</div>
    <div class="list">

        @if (Model.Categories.Count() > 0)
        {
            <h2>Categories</h2>
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li><a href="/Forum/Category/@item.Id">@item.Name</a></li>
                }
            </ul>
        }
    </div>
    <div class="threads">
        <h2>@Model.Category.Name</h2>
        <ul>
            <li class="title">
                <div class="article">Titles</div>
                <div class="views">Views/Posts</div>
                <div class="post">Last post by</div>
            </li>
            @foreach (var item in Model.Threads)
            {
                <li>
                    <div class="article">
                        <p>Title: <a href="/Forum/Thread/@item.Thread.Id">@item.Thread.Subject</a></p>
                        <p>
                            @localizer["Created by:"] <a href="/Profile/Profile/@item.Creator.Login">@item.Creator.Login</a>
                            @localizer["Time:"] @item.Thread.Created.Value.ToString("dd/MM/yyyy, hh:mm")
                        </p>
                    </div>
                    <div class="views">
                        <p>@item.Thread.Views</p>
                        <p>@item.Posts</p>
                    </div>
                    <div class="post">
                        <p>
                            @localizer["User:"] <a href="/Profile/Profile/@item.Poster.Login">@item.Poster.Login</a>,
                            <a href="/Forum/Thread/@item.Thread.Id?page=@(item.LastPost.ThreadOrder/15)">Last page</a>
                        </p>
                        <p>@localizer["Time:"] @item.LastPost.Created.Value.ToString("dd/MM/yyyy, hh:mm")</p>
                    </div>
                </li>
            }
        </ul>
    </div>
    @if (Model.Pages > 0)
    {
        <div class="page">
            <p>@localizer["Pages"]</p>
            <ul>
                @for (int i = 0; i <= Model.Pages; i++)
                {
                    if (Model.Page == i)
                    {
                        <li><button>@i</button></li>
                    }
                    else if ((i <= Model.Page + 2 && i >= Model.Page - 2) || i == 0 || i == Model.Pages)
                    {
                        <li>
                            <form method="get" action="/Forum/Category/@Model.Category.Id">
                                <input type="submit" name="page" value="@i">
                            </form>
                        </li>
                    }
                }
            </ul>
        </div>
    }
