
@{
    
    ViewBag.Title = "Products";
    Layout = "~/Views/Layout.cshtml";
}
@model IEnumerable<Wriststone.Models.ViewModel.AccountProductModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@if (User.Identity.Name != null)
{
    <div class="profile_menu">
        <ul>
            <li><a href="/Profile/Profile/@User.Identity.Name">@localizer["Profile"]</a></li>
            <li class="active"><a>@localizer["Products"]</a></li>
            <li> <a href="/Profile/Orders">@localizer["Orders"]</a></li>
            <li><a href="/Profile/Edit">@localizer["Edit profile"]</a></li>
        </ul>
    </div>
}
    <div class="orders">
        <h2>@localizer["Bought products"]</h2>
        <ul>
            <li class="title">
                <div class="product">@localizer["Product"]</div>
                <div class="price">@localizer["Cost"]</div>
                <div class="order">@localizer["Order"]</div>
                <div class="time">@localizer["Time"]</div>
            </li>
            @foreach (var item in Model)
            {
                <li>
                    <div class="product"><a href="/Store/Product/@item.Product.Id">@item.Product.Name</a></div>
                    <div class="price"> @item.OrderDetails.Price @item.Currency.Symbol</div>
                    <div class="order"><a href="/Profile/Order/@item.Order.Id">@item.Order.Id</a> </div>
                    <div class="time"> @item.Order.Date.Value.ToString("dd/MM/yyyy") </div>
                </li>
            }
        </ul>
    </div>

